<div class="span12">
    <div class="page-container">
        <header>
            <h1>About me</h1>
            <hr />
        </header>
        <div class="page-content">
        <p>
        I'm Christopher EnyTC. I'm 20 years old and live in <b>New York</b> and works for <b>EnyTC Corporation</b> and <b>LaykMusic</b>.
        I'm Developer and working with <b>PHP</b>, <b>Ruby</b>, <b>JavaScript</b> and <b>Node.js</b>. 
        </p>
        <p>I use:</p>
        <ul>
            <li>PHP
                <ul>
                    <li>Codeigniter</li>
                    <li>CakePHP</li>
                    <li>Worpress</li>
                    <li>Drupal</li>
                    <li>and more.</li>
                </ul>
            </li>
            <li>Ruby
                <ul>
                    <li>Ruby on Rails</li>
                    <li>Sinatra</li>
                    <li>Livia</li>
                    <li>LocomotiveCMS</li>
                    <li>and more.</li>
                </ul>
                <li>JavaScript
                <ul>
                    <li>jQuery</li>
                    <li>AngularJS</li>
                    <li>Modernizr</li>
                    <li>and more.</li>
                </ul>
            </li>
            <li>Node.js
                <ul>
                    <li>Express</li>
                    <li>Soccket.io</li>
                    <li>Livia</li>
                    <li>and more.</li>
                </ul>
        </ul>
        <p>
        I love listening to music and chatting with friends. 
        This is my blog and would be teaching some things I've learned over the years and even the ones that I'm studying.
        </p>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="page-content">
                    <header>
                        <h2>Skills</h2>
                        <hr />
                    </header>
                    <div class="skills">
                        <label><b>HTML 5</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 99%;"></div>
                        </div>
                        <label><b>CSS 3</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 99%;"></div>
                        </div>
                        <label><b>JavaScript</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 70%;"></div>
                        </div>
                        <label><b>PHP</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 80%;"></div>
                        </div>
                        <label><b>Ruby</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 90%;"></div>
                        </div>
                        <label><b>Python</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 50%;"></div>
                        </div>
                        <label><b>Java</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 35%;"></div>
                        </div>
                        <label><b>Node.js</b></label>
                        <div class="progress">
                            <div class="bar" style="width: 70%;"></div>
                        </div>
                    </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <a class="btn-view" href="https://www.facebook.com/chrisenytc" target="_blank">Facebook</a>
                    <a class="btn-view" href="https://www.twitter.com/chrisenytc" target="_blank">Twitter</a>
                    <a class="btn-view" href="https://plus.google.com/" target="_blank">Google+</a>
                    <a class="btn-view" href="https://www.instagram.com/chrisenytc" target="_blank">Instagram</a>
                    <a class="btn-view" href="https://www.github.com/chrisenytc" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>