<div class="span12">
    <div class="homepage">
        <header>
            <h1>Hi {{data.name}}, I'm Chris :)</h1>
        </header>
        <p>
        I'm 20 years old and live in <b>New York</b> and works for <b>EnyTC Corporation</b> and <b>LaykMusic</b>.
        I'm Developer and working with <b>PHP</b>, <b>Ruby</b>, <b>JavaScript</b> and <b>Node.js</b>. 
        </p>
        <p>
        I love listening to music and chatting with friends. 
        This is my blog and would be teaching some things I've learned over the years and even the ones that I'm studying.
        </p>
    </div>
</div>