<div class="main-content">
    <a href="/" class="close-icon expand"></a>
    <div class="row">
        <div class="col-md-10">
            <h1 class="title" ng-bind="article.title"></h1>
            <div class="blog-details">
                <span class="fa fa-clock-o"></span>
                <span class="detail" ng-bind="formatDate(article.date)"></span>
                <span class="fa fa-eye"></span>
                <span class="detail" ng-bind="article.views"></span>
                <span class="fa fa-user"></span>
                <span class="detail" ng-bind="article._author.name"></span>
            </div>
            <img class="blog-img" ng-src="{{ article.poster }}" alt="{{ article.name }}">
            <div class="blog-content" ng-bind-html="article.content"></div>
            <div class="reader-comments">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                var disqus_shortname = 'chrisenytc';
                (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                </script>
                <noscript>Please enable JavaScript to view the
                    <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                </noscript>
            </div>
        </div>
    </div>
</div>
