// Variables
// *---------------------------------------------------------------------------------------------------------------* //

@primaryColor: #428bca;
@secondaryColor: darken(@primaryColor, 15%);
@backgroundColor: #363f48;
@textColor: #646464;
@baseFont: "Gudea";
@secondaryFont: "Helvetica";
@fontSize: 16px;
