<div class="homepage">
    <header>
        <h1>Hello, My name is Christopher EnyTC :)</h1>
    </header>
    <p>I'm a Back-End Developer and working with
        <b>JavaScript/Node.js</b>,
        <b>Python</b>,
        <b>Ruby</b> and
        <b>PHP</b>.
    </p>
    <p>I have 20 years and am passionate about programming and innovative technologies. I spend my day listening to music, studying something interesting or working on some open-source project. In this blog I will be passing all they know and things of day to day life of a programmer. I'm currently working on a project called Ully and also write articles for DevCenter. I love Javascript/NodeJS, Python, Ruby, Erlang and Go. I'm an enthusiast NoSQL, especially MongoDB and RedisDB. Welcome to my world.</p>
</div>
