<div class="portfolio">
    <section class="works">
        <header>
            <div class="circle-icon">
                <i class="icon-briefcase icon-3x"></i>
                <span>Portfolio</span>
            </div>
            <hr />
        </header>
        <div class="item" data-ng-repeat="item in items | filter:searchBox">
            <header class="item-header">
                <h2 data-ng-bind="item.title"></h2>
            </header>
            <div class="item-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="item-slide">
                            <a data-ng-href="{{ item.img }}" target="_blank">
                                <img data-ng-src="{{ item.img }}" alt="{{ item.title }}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item-resume">
                            <p data-ng-bind="item.resume"></p>
                            <div class="item-info">
                                <span>
                                    <b>Client:</b> 
                                    <span data-ng-bind="item.client"></span>
                                </span>
                                <span>
                                    <b>Technologies:</b> 
                                    <span data-ng-bind="item.features"></span>
                                </span>
                                <a class="btn btn-transparent btn-medium" data-ng-href="{{ item.link }}">View Project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </section>
</div>
