/*!
 * Christopher's personal website
 * © chrisenytc
*/
/* ========TABLE OF CONTENTS========== 
01. NAVIGATION MENU
02. SECTION INTRO
03. SECTION ABOUT
04. SECTION RESUME
05. SECTION PORTFOLIO (WORKS)
06. SECTION CLIENTS
07. SECTION JOURNAL
08. SECTION CONTACT
09. MEDIA QUERIES FOR RESPONSIVE DESIGN

*/

/*PAGE LOADER*/

html{
	position: relative;
	background-color: #fff;
}

body{
	background: transparent;
	position: relative;
	background-color: #fff;
}
a:focus {
	outline: 0;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

/*----- Page Loader -----*/
#loader {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#loader h3{
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color:#000;
	font-weight: 700;
	letter-spacing: 1px;
	top: calc(50% + 5px);
	left:2px;
	text-align: center;
	position: relative;
	margin: 0px auto;
}


.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0px auto;
  top: calc(50% - 20px);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*--------------------------------------------------
	01. Navigation menu
---------------------------------------------------*/

#headerBar {
	z-index: 999;
  	width: 100%;
  	height: auto;
  	min-height: 60px;
  	-webkit-transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	-moz-transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	position: fixed;
  	top: 0px;
}
#headerBar .container {
	padding: 0;
}
.headerTop{
	background: transparent;
  	padding: 10px 30px 0px 30px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.headerScroll{
	background-color: #000;
  	padding: 0px 30px 0px 30px;
}
.headerLeft {
	text-align: left;
	line-height: 60px;
	padding: 0;
}
.headerLeft img{
	position: relative;
}
.headerRight {
	text-align: right;
	padding: 0;
}
.navbar-collapse {padding-left: 0px;}
.navbar {margin-bottom: 0;-webkit-padding-start: 0px;}
.navbar li{display: inline-block;margin: 0 15px;}
.navbar li a{
  	font-weight: 400;
  	font-size: 12px;
  	letter-spacing: 0.09em;
  	text-decoration: none;
  	z-index: 999;
  	line-height: 55px;
  	padding-bottom: 3px;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	transition: 0.3s;
  	font-family: "Poppins", sans-serif;
  	text-transform: uppercase;
  	color: #fff;
  	border:1px solid transparent;
}
.navbar li a:hover{
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}
.navbar li.active a {
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}
.navbar-toggle {
	font-size: 30px;
	cursor: pointer;
}


/*--------------------------------------------------
	02. section Intro
---------------------------------------------------*/
#sectionIntro {
  	position: relative;
  	width: 100%;
  	min-height: 670px;
  	background-image:url(../images/hero.jpg);
  	background-size: cover;
}
.textIntro {
	text-align: center;
	padding-top:250px;
	padding-bottom: 44px;
}

.hi h1 {
	letter-spacing: 2px;
	font-size: 88px;
	font-weight: 700;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	margin-bottom: 15px;
}
.hi span{
	font-size: 16px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
	color: #fafafa;
	margin-bottom: 26px;
	text-transform: uppercase;
}
.hi img{
	width: 30px;
	height: 30px;
	margin-top: 130px;
	animation-name: bounce;
    animation: bounce 3s infinite;
    transition: all 0.3s ease-in-out;
    opacity: .7;
}
.hi img:hover{
	opacity: 1;
}

.sectionTitle{
	text-align: center;
	margin-bottom: 80px;
}
.sectionTitle h1{
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color:#000;
	letter-spacing: 1px;
	font-size: 40px;
	margin-bottom: 15px;
}
.sectionTitle span{
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	color:#777;
}

/*--------------------------------------------------
	03. section About
---------------------------------------------------*/
#sectionAbout{
	background-color: #fff;
	padding: 100px 0px;
}
.story h2{
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	color:#111;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.story p{
	font-size: 16px;
	line-height: 32px;
	font-family: "Lora", serif;
	color:#222;
}
.skills{
	padding-top: 20px;
	padding-left: 40px;
	margin-bottom: 55px;
}
.skills h5{
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	color:#000;
}
.skills h5 span{
	float: right;
}
.about-iconbox h6 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
	color:#777;
	margin-top: 0;
}
.about-iconbox {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
.about-iconbox .icon {
	font-size: 50px;
	color:#000;
}
.title-icon {
	width: 150px;
	height: 68px;
}
.title-icon h1 {
	font-family: "Poppins", sans-serif;
	color:#000;
	font-weight: 700;
	font-size: 50px;
	margin-top: 3px;
}


/*--------------------------------------------------
	04. section Talks
---------------------------------------------------*/

#sectionTalks{
	background: #f7f7f7;
	padding: 100px 0px;
}

#sectionTalks .sectionTitle{
	text-align: center;
	margin-bottom: 100px;
}
#sectionTalks .sectionTitle h1{
	margin-bottom: 20px;
}
.resume-line{
	margin-bottom: 70px;
}
.last-line{
	margin-bottom: 0px;
}
.resume-line h3{
	font-family: "Poppins", sans-serif;
	color:#000;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 0px;
}
.resume-left{
	text-align: right;
	padding-right: 130px;
}
.resume-right:before{
	background-color: #000000;
	opacity: .5;
    content: '';
    height: calc(100% + 54px);
    width: 1px;
    position: absolute;
    left: -67px;
    top:16px;
}
.last-line .resume-right:before{
	height: calc(100% - 30px);
}
.resume-right h3:before{
	width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    border: 2px solid #000000;
    background-color: transparent;
    left: -75px;
    content: '';
}
.first-right h3:before{
	width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    border: 0;
    background-color: #000000;
    left: -75px;
    content: '';
}
.resume-left p{
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	color:#777;	
}
.resume-right p{
	font-size: 16px;
	line-height: 32px;
	font-family: "Lora", serif;
	color:#222;	
}


/*--------------------------------------------------
	07. section Journal
---------------------------------------------------*/

#sectionJournal{
	background-color: #fff;
	padding: 100px 0px;
}
.journal-line{
	background-color: #f7f7f7;
	margin-bottom: 50px;
}
.last-jour{
	margin-bottom: 0px;
}
.journal-text{
	padding: 84px 0px 84px 40px;
	cursor: pointer;
}
.journal-right{
	text-align: right;
	padding: 84px 40px 84px 0px;
}
.journal-text h1{
	font-family: "Poppins", sans-serif;
	color:#000;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 1px;	
}
.journal-text h2{
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #888;	
}
.journal-image{
	position: relative;
	opacity: 1;
}
.journal-image img{
	position: absolute;
	width: 100%;
	min-height: 250px;
}
.category{
	border-radius: 25px;
	background-color: #000000;
	height: 25px;
	width: 25px;
	z-index: 99;
	position: absolute;
	top:25px;
	right: 25px;
	font-size: 12px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	color: transparent;
	letter-spacing: 1px;
	padding-top: 5px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.category-left{
	left: 25px;
}
.journal-line:hover .category{
	width: 100px;
	color:#fff;

}

/* ====FOOTER=== */

.pFooter {
	background: #fff;
	position: relative;
	padding: 20px 30px 10px 30px;
}
.fCopy {
	text-align: left;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	padding: 30px 0px;
	color:#777;
}
.fCopy span{
	font-weight: 700;
	text-transform: none;
	color:#111;
}
.fIcons {
	text-align: right;
	font-size: 20px;
	padding: 25px 0px;
	padding-right: 30px;
}
.fIcons span {
	margin: 0 3px;
	color:#111;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.fIcons span:hover{
	color:#000000;
}
.fIcons a:hover, .fIcons a:focus{
	text-decoration: none;
}


/*--------------------------------------------------
	09. Responsive
---------------------------------------------------*/

@media (max-width: 770px) {
.item-five { width: 50%; }
.item-three { width: 50%; }
.item-four { width: 45%; }

body{
	margin: 0px;
}

#headerBar {
	width: 100%;
	padding: 0 30px;
}
.navbar li{
	margin: 0px 10px;
	font-size: 10px;
}
.navbar li a{
	font-size: 12px;
}
.hi{
	margin-top: 30px;
	width: 100%;
}
.hi h1{
	font-size: 100px;
}
.skills{
	padding-left: 0px;
}
.title-icon h1 {
	font-family: "Poppins", sans-serif;
	color:#000;
	font-weight: 700;
	font-size: 50px;
	margin-top: 3px;
	text-align: center;
}
.clients-box-top{
	border-right: 0;
	border-bottom: 1px solid #000000;
	padding: 25px 0px;
}
.clients-box-bot{
	border-bottom: 1px solid #000000;
	border-right: 0;
	padding: 25px 0px;
}
.journal-image img{
	position: relative;
	width: 100%;
	min-height: 188px !important;
}
.journal-text h1{
	line-height: 38px;
}
.journal-line{
	background-color: #f7f7f7;
	margin-bottom: 50px !important;
}
.fCopy{
	text-align: center;
}
.fIcons{
	text-align: center;
	padding: 25px 15px;
}

#map{
	width: 100%;
}

}

@media (max-width: 480px){
body{
	margin: 0;
}
.item-five { width: 100%; }
.item-three { width: 100%; }
.item-four { width: 100%; }
.container{
	width: 300px;
}
.headerTop{
	background: #000;
  	padding: 0px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.headerScroll{
	background-color: #000;
  	padding: 0px;
}
.navbar li {
	display: block;
}
.navbar li a {
	line-height: 40px;
}
.header-right i{
	color:#f7f7f7;
}
.headerLeft img{
	position: relative;
	top:7px !important;
}
.hi h1{
	font-size: 60px;
	letter-spacing: 1px;
}
.hi span{
	font-size: 14px;
}
.sectionTitle h1{
	font-size: 30px;
}
.skills{
	padding-left: 0px;
}
.resume-left{
	text-align: left;
	padding-right: 0px;
	margin-bottom: 30px;
}
.resume-right:before{
	background-color: #000000;
	opacity: .5;
    content: '';
    height: calc(100% + 146px);
    width: 1px;
    position: absolute;
    left: -15px;
    top:-71px;
}
.last-line .resume-right:before{
	height: calc(100% + 60px);
}
.resume-right h3:before{
	width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    border: 2px solid #000000;
    background-color: transparent;
    left: -23px;
    content: '';
    top:-87px;
}
.first-right h3:before{
	width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    border: 0;
    background-color: #000000;
    left: -23px;
    content: '';
    top:-87px;
}
.filters li {
	cursor: pointer;
	display: inline-block;
	margin:0px 15px;
	font-size: 10px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 1px;
}
.grid-item {
	padding-left: 0px;
	padding-bottom: 30px;
	position: relative;
}
.clients-box-top{
	border-right: 0;
	border-bottom: 1px solid #000000;
	padding: 25px 0px;
}
.clients-box-bot{
	border-bottom: 1px solid #000000;
	border-right: 0;
	padding: 25px 0px;
}
.journal-image img{
	position: relative;
	width: 100%;
	min-height: 188px !important;
}
.journal-text h1{
	line-height: 38px;
}
.journal-line{
	background-color: #f7f7f7;
	margin-bottom: 50px !important;
}
.fCopy{
	text-align: center;
}
.fIcons{
	text-align: center;
	padding: 25px 15px;
}

